LibraryManagementSystem/App_WebReferences/ServiceReference1/30DaysLater.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dateofreturn">
        <s:complexType />
      </s:element>
      <s:element name="dateofreturnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dateofreturnResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="dateofreturnSoapIn">
    <wsdl:part name="parameters" element="tns:dateofreturn" />
  </wsdl:message>
  <wsdl:message name="dateofreturnSoapOut">
    <wsdl:part name="parameters" element="tns:dateofreturnResponse" />
  </wsdl:message>
  <wsdl:portType name="_30DaysLaterSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dateofreturn">
      <wsdl:input message="tns:dateofreturnSoapIn" />
      <wsdl:output message="tns:dateofreturnSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="_30DaysLaterSoap" type="tns:_30DaysLaterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dateofreturn">
      <soap:operation soapAction="http://tempuri.org/dateofreturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="_30DaysLaterSoap12" type="tns:_30DaysLaterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dateofreturn">
      <soap12:operation soapAction="http://tempuri.org/dateofreturn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_30DaysLater">
    <wsdl:port name="_30DaysLaterSoap" binding="tns:_30DaysLaterSoap">
      <soap:address location="http://localhost:31909/30DaysLater.asmx" />
    </wsdl:port>
    <wsdl:port name="_30DaysLaterSoap12" binding="tns:_30DaysLaterSoap12">
      <soap12:address location="http://localhost:31909/30DaysLater.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>